* {
  box-sizing: border-box;
}

.container {
  width: 580px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 100vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #eae9f2;
}

.section-title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

a {
  color: #6653d9;
}

a:focus {
  outline-color: #b6aaff;
}

.page-header {
  margin-bottom: 40px;
  color: #333333;
  background-color: #f8d9c8;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.page-header .container {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url("img/favpng.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 250px 250px;
  margin-top: 30px;
}

.page-header a {
  font-size: 12px;
  line-height: 24px;
}

.page-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: left;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.about-image {
  border-radius: 50%;
}

.about-content {
  width: 410px;
  font-size: 14px;
  line-height: 24px;
}

.about-content p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.status {
  margin-bottom: 32px;
}

.status p {
  margin: 0;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 32px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #333333;
  background-color: #ffffff;
}

.html {
  width: 90%;
  background-color: #4caf50;
  height: 30px;
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
}
.css {
  width: 80%;
  background-color: #2196f3;
  height: 30px;
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
}
.js {
  width: 15%;
  background-color: #f44336;
  height: 30px;
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
}

.skills-text {
  text-align: center;
}
.contacts {
  margin-bottom: 82px;
}

.contacts img {
  width: 146px;
  height: 146px;
  margin-right: 24px;
}

.contacts p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

p.contacts-name {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 20px;
}

.contacts a {
  font-size: 16px;
  line-height: 24px;
}

.page-footer {
  margin-top: auto;
  color: #ffffff;
  background-color: #fb7f56;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-footer p {
  margin: 0;
  padding: 0;
}

.dark-theme {
  background-color: #000;
  color: rgba(226, 226, 226, 0.806);
}
